<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #14a302;
    border-color: #14a302;
    }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 14px;}
  .sidenav a {font-size: 3px;}
}
.closebtn{
	background-color: #14a302;
}
#mySidenav_gestioneUtenti{
		background-color: #ffffff;
}
#btnclose_statistiche{
    padding: 12px 12px 12px 12px;
    text-decoration: double;
    font-size: 25px;
    color: #14a302;
    display: contents;
    margin: 0px;
    margin-top: 40px;
    border-style: hidden;
    background-color: #ffffff
    }
    
element.style {
    margin-top: 33px;
    border-bottom-width: 2px;
    height: 36px;
}

#btnclose_gestioneUtenti {
    padding: 1px 1px 1px 1px;
    text-decoration: double;
    font-size: 25px;
    color: #14a302;
    display: block;
    margin: 0px;
    margin-top: 36px;
    border:2px;
    border-style: double;
    
    background-color: #ffffff
}
    }
</style>